<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService">
        <endpoint address="net.tcp://localhost:8009/RouterWcf"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
        <endpoint address="net.tcp://localhost:8009/RouterWcfBroadCast"
                  binding="netTcpBinding"
                  contract="System.ServiceModel.Routing.ISimplexDatagramRouter" />
      </service>
    </services>
  
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <routing filterTableName="RoutingTable" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:45:00" maxReceivedMessageSize="2000000" />
      </netTcpBinding> 
    </bindings>
  
    <routing>
      <filters>
        <filter name="AlwaysAddressToFirstServer" filterType="MatchAll" />
        <filter name="TryRoutToDemandSecondService" filterType="Custom" customType="RoutingWCF.ServerNameFilter,RoutingWCF" />
        <filter name="broadcastFilter" filterType="Action" filterData="http://temp/broadcast" />
      </filters>
      <filterTables>
        <filterTable name="RoutingTable">
          <add filterName="AlwaysAddressToFirstServer" endpointName="FirstServer" backupList="Host1FailOver" priority="0" />
          <add filterName="TryRoutToDemandSecondService" endpointName="SecondServer" priority="2" />
          <add filterName="broadcastFilter" endpointName="FirstServer" priority="3" />
          <add filterName="broadcastFilter" endpointName="SecondServer" priority="3" />
        </filterTable>
      </filterTables>
      <backupLists>
        <backupList name="Host1FailOver">
          <add endpointName="SecondServer" />
        </backupList>
      </backupLists>
    </routing>
    
    <client>
      <endpoint address="net.tcp://localhost:8901/RoutingService"
                binding="netTcpBinding"
                contract="*" 
                name="FirstServer" />
      <endpoint address="net.tcp://localhost:8902/RoutingService"
                binding="netTcpBinding"
                contract="*"
                name="SecondServer" />
    </client>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>