<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="RoutingCommon.SimpleRoutingService">
        <endpoint address="net.tcp://localhost:8902/RoutingService"
                  binding="netTcpBinding"
                  contract="RoutingCommon.IRoutingService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:45:00" maxReceivedMessageSize="2000000" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>